<div class="row">
  <div class="col-sm-3 col-xs-6 text-center">
    <h4 class="feature">
      <svg height="40" viewBox="0 0 40 40">
        {% include svg/rattle.svg %}
      </svg>
      ich rassele
    </h4>
  </div>
  <div class="col-sm-3 col-xs-6 text-center">
    <h4 class="feature">
      <svg height="40" viewBox="0 0 40 40">
        {% include svg/rustle.svg %}
      </svg>
      ich knistere
    </h4>
  </div>
  <div class="col-sm-3 col-xs-6 text-center">
    <h4 class="feature">
      <svg height="40" viewBox="0 0 40 40">
        {% include svg/jingle.svg %}
      </svg>
      ich klingele
    </h4>
  </div>
  <div class="col-sm-3 col-xs-6 text-center">
    <h4 class="feature">
      <svg height="40" viewBox="0 0 40 40">
        {% include svg/smell.svg %}
      </svg>
      …
    </h4>
  </div>
</div>
