---
layout: default
locale: en
---

<section class="about">
  <div class="container">
    <a class="anchor" id="about"></a>

    <div class="row">
      <div class="col-sm-8">
        <p>
          Hi there! I'm Magdalena, a happy young mum. I've also been working
          as a teacher, supporting kids with various needs, including
          visually impaired.
        </p>

        <p>
          I understand how important it is to provide kids with materials
          adapted to their age and needs, to stimulate their development in
          a fun way.
        </p>

        <p>
          That inspired me to start making toys for babies. My
          contrastive black/white/red toys help the little ones practise
          their eyesight, and a variety of textures and sounds stimulate
          their senses, giving them joy as well! The toys are also
          suitable for blind and visually impaired children.
        </p>

        <p>
          In my home section you'll find toys for bigger kids (adults).
        </p>
      </div>
      <div class="col-sm-4">
        <img src="/img/me.jpg" width="100%" class="img-thumbnail">
      </div>
    </div>
  </div>
</div>

{% include {{page.locale}}/features.html %}

{% include baby.html %}

{% include home.html %}

<section class="orders">
  <div class="container">
    <a class="anchor" id="orders"></a>

    <p>
      You can make an order <a href="mailto:magdalena@toy2do.com">via
        email</a>. As I design the toys individually - any ideas are
      welcome. Simply put your wishes into words and we can work it out!
      Prices and time depend on the order. Check my online shop as well,
      maybe you'll find there exactly what you need!
    </p>

    <br>

    {% include {{page.locale}}/wufoo.html %}
  </div>
</section>
