<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-6 text-center">
        <h4 class="feature">
          <svg height="40" viewBox="0 0 40 40">
            {% include svg/rattle.svg %}
          </svg>
          I rattle
        </h4>
      </div>
      <div class="col-sm-3 col-xs-6 text-center">
        <h4 class="feature">
          <svg height="40" viewBox="0 0 40 40">
            {% include svg/rustle.svg %}
          </svg>
          I rustle
        </h4>
      </div>
      <div class="col-sm-3 col-xs-6 text-center">
        <h4 class="feature">
          <svg height="40" viewBox="0 0 40 40">
            {% include svg/jingle.svg %}
          </svg>
          I jingle
        </h4>
      </div>
      <div class="col-sm-3 col-xs-6 text-center">
        <h4 class="feature">
          <svg height="40" viewBox="0 0 40 40">
            {% include svg/smell.svg %}
          </svg>
          I smell
        </h4>
      </div>
    </div>
  </div>
</section>
