<section class="baby">
  <div class="container">
    <a class="anchor" id="baby"></a>

    <div class="row">
      {% for toy in site.data.baby_toys %}
        <div class="col-sm-4">
          <a href="javascript:;" data-toggle="modal" data-target="#{{toy.id}}">
            <img src="/img/{{toy.id}}.jpg" width="100%" class="img-thumbnail">
          </a>
        </div>

        <div class="modal fade" id="{{toy.id}}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">{{toy.name}}</h4>
              </div>
              <div class="modal-body">
                <img src="/img/{{toy.id}}.jpg" width="100%">
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
