<section class="baby">
  <div class="container">
    <a class="anchor" id="baby"></a>

    <div class="row">
      <div class="col-sm-3 col-xs-6 text-center">
        <h4 class="feature">
          <svg height="40" viewBox="0 0 40 40">
            {% include svg/rattle.svg %}
          </svg>
          {% case page.locale %}
          {% when "en" %}
            I rattle
          {% when "pl" %}
            grzechocą
          {% endcase %}
        </h4>
      </div>
      <div class="col-sm-3 col-xs-6 text-center">
        <h4 class="feature">
          <svg height="40" viewBox="0 0 40 40">
            {% include svg/rustle.svg %}
          </svg>
          {% case page.locale %}
          {% when "en" %}
            I rustle
          {% when "pl" %}
            szeleszczą
          {% endcase %}
        </h4>
      </div>
      <div class="col-sm-3 col-xs-6 text-center">
        <h4 class="feature">
          <svg height="40" viewBox="0 0 40 40">
            {% include svg/jingle.svg %}
          </svg>
          {% case page.locale %}
          {% when "en" %}
            I jingle
          {% when "pl" %}
            dzwonią
          {% endcase %}
        </h4>
      </div>
      <div class="col-sm-3 col-xs-6 text-center">
        <h4 class="feature">
          <svg height="40" viewBox="0 0 40 40">
            {% include svg/smell.svg %}
          </svg>
          {% case page.locale %}
          {% when "en" %}
            I smell
          {% when "pl" %}
            pachną
          {% endcase %}
        </h4>
      </div>
    </div>

    <br>
    <br>
    <br>

    <div class="row">
      {% for toy in site.data.baby_toys %}
        <div class="col-sm-4">
          <a href="javascript:;" data-toggle="modal" data-target="#{{toy.id}}">
            <img src="/img/{{toy.id}}.jpg" width="100%" class="img-thumbnail" alt="{% include translate.html translations=toy.name %}">
          </a>
        </div>

        <div class="modal fade" id="{{toy.id}}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                  {% include translate.html translations=toy.name %}
                </h4>
              </div>
              <div class="modal-body">
                <a href="javascript:;" data-dismiss="modal">
                  <img src="/img/{{toy.id}}.jpg" width="100%" alt="{% include translate.html translations=toy.name %}">
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
